[package]
name = "flurry"
version = "0.0.2"
edition = "2018"
authors = ["Jon Gjengset <jon@thesquareplanet.com>"]
license = "MIT OR Apache-2.0"

readme = "README.md"
description = "Rust port of Java's ConcurrentHashMap"
repository = "https://github.com/jonhoo/flurry.git"

keywords = ["hashmap","concurrent","map"]
categories = ["concurrency", "data-structures"]

exclude = ["/jsr166/**"]

[badges]
azure-devops = { project = "jonhoo/jonhoo", pipeline = "flurry", build = "15" }
codecov = { repository = "jonhoo/flurry", branch = "master", service = "github" }
maintenance = { status = "experimental" }

[features]
sanitize = ['crossbeam-epoch/sanitize']
std = ["crossbeam-epoch/std", "num_cpus", "parking_lot"]
default = ["std"]

[dependencies]
lock_api = "0.3.3"

[dependencies.parking_lot]
version = "0.10"
optional = true

[dependencies.num_cpus]
version = "1.12.0"
optional = true

[dependencies.crossbeam-epoch]
version = "0.9"
default-features = false
features = ["alloc"]

[dependencies.ahash]
version = "0.3.2"
default-features = false

[dev-dependencies]
rand = "0.7"
rayon = "1.3"
criterion = "0.3"

[[bench]]
name = "flurry_dashmap" 
harness = false

[[bench]]
name = "flurry_hashbrown" 
harness = false

[patch.crates-io]
crossbeam-epoch = { git = "https://github.com/cynecx/crossbeam.git", branch = "fix-unsoundness" }
