on:
  push:
    branches: [master]
  pull_request:
name: cargo deny
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - uses: actions/checkout@v2
      - name: Install cargo-deny
        uses: actions-rs/install@v0.1
        with:
          crate: cargo-deny
          version: latest
          use-tool-cache: true
      - name: cargo deny
        uses: actions-rs/cargo@v1
        with:
          command: deny
          args: check
